---
layout: index
---


<div class="index-0">
    <div class="index-1">
        <div class="index-1-1">
            <a href="#home">&#10008;</a>
        </div>
        <div class="index-1-2">
            <a href="#home">You are here.</a>
        </div>
        <div class="index-1-3">
            <!-- Filler to center index-0-2 -->
        </div>
    </div>
    <div class="index-2" id="home">
        <div class="index-2-1">
            <div class="index-2-1-1">
                <a class="index-2-1-1-1" href="stories.html"></a>
                <a class="index-2-1-1-1" href="stories.html">{% include zombie-hand.svg %}</a>
                <a class="index-2-1-1-1" href="stories.html">Stories</a>
                <a class="index-2-1-1-1" href="stories.html"></a>
            </div>
            <div class="index-2-1-2">
                <a class="index-2-1-2-1" href="blog.html"></a>
                <a class="index-2-1-2-1" href="blog.html">{% include computer.svg %}</a>
                <a class="index-2-1-2-1" href="blog.html">Blog</a>
                <a class="index-2-1-2-1" href="blog.html"></a>
            </div>
        </div>
        <div class="index-2-2">
            <div class="index-2-2-1">
                <a class="index-2-2-1-1" href="photos.html"></a>
                <a class="index-2-2-1-1" href="photos.html">{% include camera.svg %}</a>
                <a class="index-2-2-1-1" href="photos.html">Photos</a>
                <a class="index-2-2-1-1" href="photos.html"></a>
            </div>
            <div class="index-2-2-2">
                <a class="index-2-2-2-1" href="contact.html"></a>
                <a class="index-2-2-2-1" href="contact.html">{% include mail.svg %}</a>
                <a class="index-2-2-2-1" href="contact.html">Contact</a>
                <a class="index-2-2-2-1" href="contact.html"></a>
            </div>
        </div>
    </div>
</div>
