* {
  padding: 0;
  margin: 0;
}



body {
 background: #ffffff;
 text-align: center;
 font-family: helvetica, sans-serif;
}

#buer {
  background-image: url(./images/buer.jpg);
  background-repeat: no-repeat;
  width: 600px;
  height: 684px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 60px;
}

#demon {
  background-image: url(./images/demon.jpg);
  background-repeat: no-repeat;
  width: 600px;
  height: 684px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 60px;
}

#asmodeus {
  background-image: url(./images/asmodeus.jpg);
  background-repeat: no-repeat;
  width: 600px;
  height: 684px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 60px;
}

#nav {
  width: 1000px;
  margin: auto;
  padding-top: 15px;
  font-family: 'exoticamedium', helvetica, sans-serif;
}

ul, li {
 margin: 0; padding: 0;
 overflow: hidden;
}

ul li {
 float: left;
 list-style: none;
 margin-right: 1em;
}

li a {
 color: #544738;
 text-decoration: none;
 float: left;
 font-size: 35px;
 padding-top: 35px;
 padding-bottom: 35px;
 padding-right: 35px;
 padding-left: 35px;
}

li a:hover {
 color: #7eb9be;
}

/*Fonts*/
@font-face {
    font-family: 'aquilinetworegular';
    src: url('./fonts/AquilineTwo-webfont.eot');
    src: url('./fonts/AquilineTwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/AquilineTwo-webfont.woff') format('woff'),
         url('./fonts/AquilineTwo-webfont.ttf') format('truetype'),
         url('./fonts/AquilineTwo-webfont.svg#aquilinetworegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exoticamedium';
    src: url('./fonts/Exotica-webfont.eot');
    src: url('./fonts/Exotica-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Exotica-webfont.woff') format('woff'),
         url('./fonts/Exotica-webfont.ttf') format('truetype'),
         url('./fonts/Exotica-webfont.svg#exoticamedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'impact_labelregular';
    src: url('./fonts/Impact_Label-webfont.eot');
    src: url('./fonts/Impact_Label-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Impact_Label-webfont.woff') format('woff'),
         url('./fonts/Impact_Label-webfont.ttf') format('truetype'),
         url('./fonts/Impact_Label-webfont.svg#impact_labelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dearestregular';
    src: url('./fonts/Dearest-webfont.eot');
    src: url('./fonts/Dearest-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Dearest-webfont.woff') format('woff'),
         url('./fonts/Dearest-webfont.ttf') format('truetype'),
         url('./fonts/Dearest-webfont.svg#dearestregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'uglyquaregular';
    src: url('./fonts/UglyQua-webfont.eot');
    src: url('./fonts/UglyQua-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/UglyQua-webfont.woff') format('woff'),
         url('./fonts/UglyQua-webfont.ttf') format('truetype'),
         url('./fonts/UglyQua-webfont.svg#uglyquaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Anitmation
li a:hover {
-webkit-animation-name: cssAnimation;
-webkit-animation-duration:1s;
-webkit-animation-iteration-count: 1;
-webkit-animation-timing-function: ease
}
@-webkit-keyframes cssAnimation {
from {
-webkit-transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
}
to {
-webkit-transform: rotate(350deg) scale(1.1) skew(1deg) translate(0px)
}
}
*/

.hover a:hover {
  -webkit-transition:All .5s ease-in-out;
  -moz-transition:All .5s ease-in-out;
  -o-transition:All .5s ease-in-out;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

#div.welcome h1{
  text-align: center;
  margin-top: 15px;
  margin-left: 10px;
}

#div.welcome p{
  font-family: helvetica, sans-serif;
  text-align: left;
  font-size: 12px;
  margin: 10px 0 50px 10px;
  line-height: 20px;
  width: 780px;

  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}

#footer {
  padding-top: 40px;
  padding-bottom: 15px;
}
